# IDEs
.idea/
.vscode/
*.iml

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.venv/
venv/

# Flutter / Dart
.dart_tool/
.packages
build/
.gradle/
.flutter-plugins
.flutter-plugins-dependencies

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Local environment files
.env
.env.*
