body{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    margin:0;
    padding: 0;
}
p{
    margin:0;
    padding:0;
}

#superbar{
    background-color: black;
    color:white;
    min-height: 40px;
}

#wrapper{
    /*border: 1px dotted red;*/
    width: 60%;
    margin:0 auto; /* por quê? */
}


#header{
    text-align: center;
}

#header .dateInfo{
    text-align: left;
}

#mainMenu{
    margin:0;
    padding:0;
    list-style: none;
    display: inline-flex;
    text-align: center;
    margin-bottom: 20px;
}

#mainMenu li{
    margin-left: 5px;
    margin-right: 5px;
}

#mainMenu a{
    color:black;
}

#mainMenu a:hover{
    color:cornflowerblue;
}

#content{
    
}
#footer{
    background-color: #fcfbfb;
    padding: 20px;
}

#sitemap{
    font-size: small;
    display: inline-flex;
    width: 100%;
}

#sitemap ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 33%;
}

#sitemap ul p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    letter-spacing: -0.5px;
}

#sitemap ul li{
    margin-top: 10px;
    margin-bottom: 10px;
}

#sitemap ul li a{
    text-decoration: none;
    color: black;
}

#sitemap ul li a:hover{
    text-decoration: underline;
}

#social{
    display: none;
}

#companyLinks{
    display: none;
}

#lawBar{
    display: none;
}